{{outlet}}

<div class="panel panel-default">
  <div class="panel-heading">Current Questions</div>
  <ul class="list-group">
  {{#each model as |question|}}
    {{#link-to 'question' question.id}}
    <li class="list-group-item"><h5>{{question.name}} wants to know:</h5> {{question.title}}</li>
    {{/link-to}}
  {{/each}}
  </ul>
  <div class="panel-footer">{{new-question save="save"}}</div>
</div>
