{{outlet}}

<div class="panel panel-default">
  <div class="panel-heading">Current Questions</div>
  <ul class="list-group">
  {{#each model as |question|}}
    <li class="list-group-item"><h4>{{question.name}} wants to know:</h4> {{question.title}}</li>
  {{/each}}
  </ul>
  <div class="panel-footer">{{new-question save="save"}}</div>
</div>
